h1 {
    /*color: #020495;*/
    color: #0329E8 ;
    font-weight: bold; 
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 450%;
    text-align: center;
    /*background-color: #18E3F4;*/

}